.mock-editor-copy-text-button {
    display: flex;
    cursor: pointer;
    font-variant: all-petite-caps;
    background-color: #222;
    border: 0.1rem solid black;
    border-radius: 0.2rem;

    &:hover {
        border-color: #88a;
    }

    &:active:not(:has(> .mock-icon:active)) {
        transition: 0s;
        transform: scale(0.9);
    }

    > div:first-child {
        background-color: #707070;
        border-right: 0.1rem solid #000;
        border-radius: 0.1rem 0 0 0.1rem;
        padding: 0 0.2rem;
        transition: transform 0s 0.05s ease-in-out;

        &:hover {
            background-color: #669;
        }
    }

    > .mock-icon {
        transition: none;

        height: 1.1rem;
        width: 1.1rem;
        mask-size: 50% 50%;

        &:hover {
            background-color: #669;
        }
    }

    &:has(> div:first-child:hover) {
        > .mock-icon {
            border-left: none;
        }
    }
}

.mock-editor-copy-text-dropdown {
    position: relative;
    width: 0;
    white-space: nowrap;

    > div {
        position: absolute;
        top: 100%;
        right: calc(1rem + 4px);
        width: min-content;
        z-index: 10;
    }
}

.mock-editor-copy-text-entry {
    background: #707070;
    text-align: end;
    padding: 0 0.5rem;

    &.mock-editor-copy-text-entry-selected {
        background: #55a;
    }

    &:hover {
        filter: brightness(120%) saturate(120%);
    }
}
