.mock-editor {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mock-editor-type-selector {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        user-select: none;
        margin-top: 20px;

        > div {
            background-color: #777777;
            border-radius: 10px;
        }

        .mock-editor-type-option {
            display: inline-block;
            background: #222222;
            font-weight: 600;
            padding: 6px 12px;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:not(:first-child) {
                margin-left: 2px;
            }

            &:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &.mock-editor-type-option-inactive:not(:hover) {
                filter: saturate(20%) brightness(60%) contrast(60%);
            }
        }
    }

    .mock-editor-buttons {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        user-select: none;
        margin-top: 12px;
        margin-bottom: 12px;

        .mock-editor-button {
            background: #777777;
            border-radius: 5px;
            padding: 0 3px;
            cursor: pointer;
            border: 2px solid #222222;

            &:hover {
                background: #666699;
                border: 2px solid #8888aa;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }

    .mock-editor-content {
        display: flex;
    }
}
