.mock-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 400px; /* safety margin so tooltips don't change the page height */
    padding: 0px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-radius: 0 0 30px 30px;

    .mock-editor-buttons {
        display: flex;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        user-select: none;
        margin-top: 20px;
        margin-bottom: 12px;

        .mock-editor-button {
            background: #777777;
            border-radius: 5px;
            padding: 0 3px;
            cursor: pointer;
            border: 2px solid #222222;

            &:hover {
                background: #666699;
                border: 2px solid #8888aa;
            }
        }


        > *:not(:first-child) {
            margin-left: 10px;
        }
    }

    .mock-editor-content {
        display: flex;
        border: 1px solid black;

        &:has(.mock-item) {
            border-radius: 10px;
        }
    }
}
