.mock-editor-history {
    display: flex;
    background-color: #222;
    border: 0.1rem solid black;
    border-radius: 0.2rem;

    > div:last-child {
        border-left: 0.1rem solid black;
    }

    .mock-icon {
        height: 1lh;
        width: 1lh;

        &:hover {
            transition: none;
            background-color: #669;
        }
    }

    .mock-editor-history-template {
        filter: brightness(80%) saturate(70%);
    }

    .mock-editor-history-entry, .mock-editor-history-template, .mock-editor-history-current {
        width: 10rem;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        padding: 0.05rem 0.5rem;
        cursor: pointer;
        min-height: 1lh;

        > span:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > span:last-child {
            font-size: 0.5rem;
            font-style: italic;
            font-weight: 400;
        }

        &.mock-editor-history-ability {
            background-color: #3399f3;
        }

        &.mock-editor-history-weapon {
            background-color: #c87a02;
        }

        &.mock-editor-history-vitality {
            background-color: #659818;
        }

        &.mock-editor-history-spirit {
            background-color: #8b56b4;
        }

        &.mock-editor-history-clear {
            background-color: #444;
        }
    }

    .mock-editor-history-dropdown {
        position: relative;
        width: 0;

        > div {
            position: absolute;
            top: 100%;
            width: min-content;
            z-index: 10;
            border: 0.1rem solid black;
        }

        .mock-editor-history-entry, .mock-editor-history-template {
            &:hover {
                filter: brightness(120%) saturate(120%);
                border: 0.05rem solid black;
                padding: 0 0.45rem;
            }
        }
    }
}
