.mock-editor-history {
    display: flex;
    background-color: #222;
    border: 0.1rem solid black;
    border-radius: 0.2rem;

    > div:last-child {
        border-left: 0.1rem solid black;

        > div {
            border-radius: 0 0.1rem 0.1rem 0;
        }
    }

    > .mock-icon {
        height: 1.1rem;
        width: 1.1rem;
        mask-size: 50% 50%;
        transition: none;

        &:hover {
            background-color: #669;
        }
    }

    .mock-editor-history-template {
        filter: brightness(80%) saturate(70%);
    }

    .mock-editor-history-entry, .mock-editor-history-template, .mock-editor-history-current {
        display: flex;
        cursor: pointer;
        min-height: 1lh;

        .mock-icon {
            opacity: 0.6;
        }

        &.mock-editor-history-ability {
            background-color: #3399f3;
        }

        &.mock-editor-history-weapon {
            background-color: #c87a02;
        }

        &.mock-editor-history-vitality {
            background-color: #659818;
        }

        &.mock-editor-history-spirit {
            background-color: #8b56b4;
        }

        &.mock-editor-history-clear {
            background-color: #444;
        }
    }

    .mock-editor-history-label {
        padding: 0.05rem 0.5rem;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;

        &.mock-editor-history-template {
            padding-right: 1.5rem;
        }

        span:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span:last-child {
            font-size: 0.5rem;
            font-style: italic;
            font-weight: 400;
        }
    }

    .mock-editor-history-current {
        width: 10rem;
        box-sizing: border-box;
    }

    .mock-editor-history-dropdown {
        position: relative;
        width: 0;

        > div {
            position: absolute;
            top: 100%;
            width: 10rem;
            z-index: 10;
            border: 0.1rem solid black;
            max-height: 20rem;
            overflow-y: auto;
            overscroll-behavior: none;
        }

        .mock-editor-history-entry, .mock-editor-history-template {
            &:hover {
                filter: brightness(120%) saturate(120%);
                border-top: 0.05rem solid black;
                border-bottom: 0.05rem solid black;

                &.mock-editor-history-label, .mock-editor-history-label {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    .mock-editor-history-entry {
        .mock-hold-timer {
            justify-content: center;
            align-items: center;
            margin-right: 0.1rem;

            > div:first-child {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .mock-editor-history-clear {
        .mock-hold-timer {
            flex-grow: 1;
        }
    }
}
