.mock-text {
    padding-bottom: 0.25em;
}

.mock-text-thin {
    font-weight: 400;
}

.mock-text-medium {
    font-weight: 500;
}

.mock-text-semibold {
    font-weight: 600;
}

.mock-text-bold {
    font-weight: 700;
}

.mock-text-italic {
    font-style: italic;
}

.mock-text-color-bright {
    color: #ffefd7;
}

.mock-text-color-orange {
    color: #ed961e;
}

.mock-text-color-purple {
    color: #c78bf7;
}

.mock-text-color-green {
    color: #7cbb1e;
}
