
.mock-item {
    font-style: normal;
    font-size: 1rem;
    color: #cdcdcd;
    width: 23rem;
    flex-shrink: 0;
    flex-grow: 0;

    > div:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    > div:last-child {
        &.mock-item-stats, .mock-item-effect {
            padding-bottom: 0.4rem;
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }

    .mock-header {
        border-radius: 0.5rem 0.5rem 0 0;
        display: flex;
        justify-content: space-between;

        > div:first-child {
            align-content: center;
            margin: 1.1rem 0.7rem 1rem 0.7rem;
        }

        > div:last-child {
            margin: 0.8rem;
        }

        .item-name {
            font-size: 1.5rem;
            font-weight: 700;
            text-shadow: 0.1rem 0.1rem 0.2rem #00000094;
            margin-left: 0.2rem;
        }

        .item-cost {
            color: #9affd6;
            font-size: 1rem;
            font-weight: 700;
            margin-top: 0.8rem;
            display: flex;
            align-items: center;
            user-select: none;
        }

        .item-bonus {
            min-width: 4.5rem;
            max-width: min-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item-bonus-value {
                padding: 0 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9rem;
                user-select: none;

                .mock-icon {
                    margin-left: 0.2rem;
                    font-size: 0.8rem;
                }
            }

            .item-bonus-stat {
                text-align: center;
                font-size: 0.6rem;
                padding: 0.1rem 0.5rem 0.3rem 0.5rem;
                font-weight: 600;
                color: #e8d7c9;
                user-select: none;
                line-height: 120%;
            }
        }
    }


    .mock-components {
        font-size: 0.6rem;
        padding: 0.1rem 0.8rem 0.3rem 0.8rem;
        user-select: none;

        .mock-item-component {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 0.3rem;
            }

            .mock-item-component-badge {
                font-size: 0.7rem;
                display: flex;
                width: fit-content;
                border-radius: 5rem;

                .mock-item-component-badge-icon {
                    border-radius: 5rem;
                    height: 1.2lh;

                    .mock-icon {
                        font-size: 1.2rem;
                    }

                    &.mock-item-component-badge-vitality {
                        background-color: #7cbb1e;
                    }

                    &.mock-item-component-badge-spirit {
                        background-color: #ce91ff;
                    }

                    &.mock-item-component-badge-weapon {
                        background-color: #ec981a;
                    }

                    .mock-icon {
                        background-size: 70% !important;
                        border-radius: 5rem;
                    }
                }

                .mock-item-component-badge-name {
                    padding: 0 0.8rem 0 0.5rem;
                    align-content: center;
                }
            }

            .mock-item-component-hover-buttons {
                display: flex;
                align-items: center;
                visibility: hidden;

                > * {
                    margin-left: 0.3rem;
                }
            }

            &:hover .mock-item-component-hover-buttons {
                visibility: visible;
            }
        }
    }


    .mock-item-stats {
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 120%;
        padding: 0.7rem 0;

        > div {
            padding: 0 0.8rem;
            display: flex;
            align-items: center;
            line-height: 1;

            &:not(:first-child) {
                margin-top: 0.4rem;
            }

            .mock-item-stat-hover-buttons {
                visibility: hidden;
                display: inline-block;
                margin-left: 0.5rem;
            }

            &:hover {
                .mock-item-stat-hover-buttons {
                    visibility: visible;
                }
            }
        }
    }

    .mock-item-effect-header {
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            padding: 0.2rem 0.8rem 0.3rem 0.8rem;
            display: flex;
            align-items: center;

            .mock-item-effect-header-hover-buttons {
                visibility: hidden;
                margin-left: 0.5rem;
            }

            &:hover .mock-item-effect-header-hover-buttons {
                visibility: visible;
            }
        }

        .mock-item-effect-cooldown {
            background-color: #0c1414;
            padding: 0.2rem 1rem 0.3rem 1rem;
            font-weight: 700;

            .mock-icon {
                font-size: 1.1rem;
            }
        }

        .mock-item-effect-no-cooldown {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
            &:has(*[contenteditable="true"]) {
                opacity: 1;
            }
        }
    }

    .mock-item-effect-body {
        padding: 0.6rem 0;
        font-size: 0.9rem;
        line-height: 125%;

        .mock-grid, .mock-item-effect-markdown {
            padding: 0 0.8rem;

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    .mock-grid-cell {
        padding: 0.3rem 0.3rem;
        line-height: 110%;
        font-size: 0.8rem;

        .mock-grid-cell-value {
            font-size: 1.1rem;
        }
    }

    .mock-grid-cell.mock-grid-cell-values {
        padding: 0.5rem 0.3rem 0.5rem 0.8rem;
        font-size: 0.85rem;
        font-weight: 600;
    }

    .mock-grid-cell-values .mock-icon {
        display: none;
    }

    .mock-grid-cell-values .mock-grid-cell-values-item-delete .mock-icon {
        display: inherit;
    }

    &.mock-item-spirit {
        .mock-header {
            background-color: #8b56b4;
        }

        .item-bonus-value {
            background-color: #704491;
        }

        .item-bonus-stat {
            background-color: #5c3778;
        }

        .mock-components {
            background-color: #372248;
            color: #d0cdc7;
            .mock-item-component-badge { background-color: #291937; }
        }

        .mock-item-effect-header {
            background-color: #43265b;
            color: #c1b2a8;
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #623585;
            color: #a99db7;
        }

        .mock-grid .mock-grid-cell {
            background-color: #4d2869;
            color: #a18f97;
            .mock-grid-cell-values { color: #c2bec8; }
        }
    }

    &.mock-item-weapon {
        .mock-header {
            background-color: #c97a03
        }

        .item-bonus-value {
            background-color: #a26102;
        }

        .item-bonus-stat {
            background-color: #885102;
        }

        .mock-components {
            background-color: #9e630c;
            color: #dccfc6;
            .mock-item-component-badge { background-color: #7c4d08; }
        }

        .mock-item-effect-header {
            background-color: #583b0e;
            color: #c4b49e;
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #80550f;
            color: #b5a599;
        }

        .mock-grid .mock-grid-cell {
            background-color: #67430a;
            color: #aba099;
            .mock-grid-cell-values { color: #c0b9b4; }
        }
    }

    &.mock-item-vitality {
        .mock-header {
            background-color: #659818;
        }

        .item-bonus-value {
            background-color: #507a11;
        }

        .item-bonus-stat {
            background-color: #41650c;
        }

        .mock-components {
            background-color: #203500;
            color: #c7c9c6;
            .mock-item-component-badge { background-color: #172801; }
        }

        .mock-item-effect-header {
            background-color: #2f4510;
            color: #bfb79f;
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #4d7214;
            color: #a3af99;
        }

        .mock-grid .mock-grid-cell {
            background-color: #3c590e;
            color: #9fa799;
            .mock-grid-cell-values { color: #c0c4bd; }
        }
    }
}
