
.mock-item {
    font-style: normal;
    font-size: 1rem;
    color: #cdcdcd;
    width: 23rem;
    flex-shrink: 0;
    flex-grow: 0;

    > div:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    > div:last-child {
        &.mock-item-stats, .mock-item-effect {
            padding-bottom: 0.4rem;
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }

    .mock-header {
        border-radius: 0.5rem 0.5rem 0 0;
        display: flex;
        justify-content: space-between;

        > div:first-child {
            align-content: center;
            margin: 1.1rem 0.7rem 1rem 0.7rem;
        }

        > div:last-child {
            margin: 0.8rem;
        }

        .item-name {
            font-size: 1.5rem;
            font-weight: 700;
            text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
            margin-left: 0.2rem;
        }

        .item-cost {
            filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.6)); /* not part of deadlock styling but it makes the cost easier to read */
            color: #9affd6;
            font-size: 1rem;
            font-weight: 700;
            margin-top: 0.8rem;
            display: flex;
            align-items: center;
            user-select: none;
        }

        .item-bonus {
            min-width: 4.5rem;
            max-width: min-content;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item-bonus-value {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0.5rem;
                font-size: 0.9rem;
                user-select: none;
                cursor: pointer;

                .mock-icon {
                    margin-left: 0.2rem;
                    font-size: 0.8rem;
                }
            }

            .item-bonus-stat {
                padding: 0.1rem 0.5rem 0.3rem 0.5rem;
                text-align: center;
                font-size: 0.6rem;
                font-weight: 600;
                line-height: 120%;
                color: #e8d7c9;
                user-select: none;
                cursor: pointer;
            }
        }
    }


    .mock-components {
        font-size: 0.6rem;
        padding: 0.1rem 0.8rem 0.3rem 0.8rem;
        user-select: none;

        .mock-item-component {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 0.3rem;
            }

            .mock-item-component-badge {
                font-size: 0.7rem;
                display: flex;
                width: fit-content;
                border-radius: 5rem;

                .mock-item-component-badge-icon {
                    border-radius: 5rem;
                    height: 1.2lh;

                    .mock-icon {
                        font-size: 1.2rem;
                    }

                    &.mock-item-component-badge-vitality {
                        background-color: #7cbb1e;
                    }

                    &.mock-item-component-badge-spirit {
                        background-color: #ce91ff;
                    }

                    &.mock-item-component-badge-weapon {
                        background-color: #ec981a;
                    }

                    .mock-icon {
                        background-size: 85% !important;
                        border-radius: 5rem;
                    }
                }

                .mock-item-component-badge-name {
                    padding: 0 0.8rem 0.1rem 0.5rem;
                    align-content: center;
                }
            }
        }
    }


    .mock-item-stats {
        font-size: 0.85rem;
        font-weight: 600;
        line-height: 120%;
        padding: 0.7rem 0;

        > div {
            padding: 0 0.8rem;
            display: flex;
            align-items: center;
            line-height: 1;

            &:not(:first-child) {
                margin-top: 0.4rem;
            }

            > *:not(:first-child) {
                margin-left: 0.5em;
            }
        }
    }

    .mock-item-effect-header {
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mock-item-effect-type {
            cursor: pointer;
            user-select: none;
            margin-bottom: 0.1rem;
        }

        > * {
            padding: 0.2rem 0.8rem 0.3rem 0.8rem;
            display: flex;
            align-items: center;
        }

        .mock-item-effect-cooldown {
            background-color: #0c1414;
            padding: 0.2rem 1rem 0.3rem 1rem;
            font-weight: 700;

            .mock-icon {
                font-size: 1.1rem;
            }

            > *:nth-child(2) {
                margin-left: 0.2em;
            }
        }

        .mock-item-effect-no-cooldown {
            opacity: 0;

            &:hover {
                opacity: 1;
            }
            &:has(*[contenteditable="true"]) {
                opacity: 1;
            }
        }
    }

    .mock-item-effect-body {
        padding: 0.45rem 0;
        font-size: 0.85rem;
        font-weight: 600;
        line-height: 145%;

        .mock-grid, .mock-item-effect-markdown {
            padding: 0 0.8rem;

            &:not(:first-child) {
                margin-top: 0.8rem;
            }
        }
    }

    .mock-grid-cell {
        padding: 0.3rem 0.3rem;
        line-height: 110%;
        font-size: 0.8rem;
        font-weight: 600;

        .mock-grid-cell-value {
            font-size: 1.1rem;
        }
    }

    .mock-grid-cell.mock-grid-cell-values {
        padding: 0.5rem 0.3rem 0.5rem 0.8rem;
        font-size: 0.85rem;
    }

    .mock-grid-cell-values-value .mock-icon {
        display: none;
    }

    &.mock-item-spirit {
        .mock-header {
            background-color: #8b56b4;
            .item-bonus-value { background-color: #704491; }
            .item-bonus-stat { background-color: #5c3778; }
        }

        .mock-components {
            color: #d0cdc7;
            background-color: #372248;
            .mock-item-component-badge { background-color: #291937; }
        }

        .mock-item-effect-header {
            color: #c1b2a8;
            background-color: #43265b;
            &.mock-item-effect-header-active { background-color: #3b2250; }
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #623585;
            .mock-text-color-muted { color: #a99db7; }
        }

        .mock-grid .mock-grid-cell {
            background-color: #4d2869;
            .mock-text-color-muted { color: #a18f97; }
            .mock-grid-cell-values { color: #c2bec8; }
        }
    }

    &.mock-item-weapon {
        .mock-header {
            background-color: #c97a03;
            .item-bonus-value { background-color: #a36202; }
            .item-bonus-stat { background-color: #885101; }
        }

        .mock-components {
            color: #dccfc6;
            background-color: #9e630c;
            .mock-item-component-badge { background-color: #7c4d08; }
        }

        .mock-item-effect-header {
            color: #c4b49e;
            background-color: #583b0e;
            &.mock-item-effect-header-active { background-color: #4e340e; }
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #80550f;
            .mock-text-color-muted { color: #b5a599; }
        }

        .mock-grid .mock-grid-cell {
            background-color: #67430a;
            .mock-text-color-muted { color: #aba099; }
            .mock-grid-cell-values { color: #c0b9b4; }
        }
    }

    &.mock-item-vitality {
        .mock-header {
            background-color: #659818;
            .item-bonus-value { background-color: #507a11; }
            .item-bonus-stat { background-color: #41650c; }
        }

        .mock-components {
            color: #c7c9c6;
            background-color: #203500;
            .mock-item-component-badge { background-color: #172801; }
        }

        .mock-item-effect-header {
            color: #bfb79f;
            background-color: #354f11;
            &.mock-item-effect-header-active { background-color: #2f4510; }
        }

        .mock-item-stats, .mock-item-effect {
            background-color: #4d7214;
            .mock-text-color-muted { color: #a3af99; }
        }

        .mock-grid .mock-grid-cell {
            background-color: #3c590e;
            .mock-text-color-muted { color: #9fa799; }
            .mock-grid-cell-values { color: #c0c4bd; }
        }
    }
}
