.mock-details-section {
    display: flex;
    margin: 0.4rem 1rem 0.4rem 0;

    > .mock-drag-list-grip {
        display: flex;
        flex-direction: column;
        width: 1rem;

        .mock-icon {
            flex-grow: 1;
            background-size: 100% 100%;
        }
    }
    
    > *:not(.mock-drag-list-grip) {
        flex-grow: 1;
    }
}

.mock-details-description {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mock-details {
    /* can't be last child because of the drag list divider */
    > .mock-drag-list > *:nth-last-child(2) > .mock-details-section {
        margin-bottom: 0;
    }
}

