.mock-details-section {
    display: flex;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;


    > .mock-drag-list-grip {
        display: flex;
        flex-direction: column;

        .mock-icon {
            flex-grow: 1;
            background-size: 100% 100%;
        }
    }
    
    > *:not(.mock-drag-list-grip) {
        flex-grow: 1;
    }
}

.mock-details-description {
    margin-left: 0.85rem;
}

.mock-details {
    margin-right: 0.85rem;

    /* can't be last child because of the drag list divider */
    > .mock-drag-list > *:nth-last-child(2) > .mock-details-section {
        margin-bottom: 0;
    }
}

