.mock-spirit-scaling {
    z-index: 5;
    height: 0;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;

    .mock-spirit-scaling-icon {
        position: absolute;
        height: 1.8em;
        width: 2.7em;
        left: -1.8em;
        background-image: url("/deadmock/icon/spirit_scaling.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.mock-spirit-scaling .mock-spirit-scaling-box {
    background-color: #65358a;
    height: 1.2em;
    padding: 0.15em 0.5em 0.25em 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    color: #cdcdcd;
    font-weight: 600;
    font-style: italic;
    font-size: 0.9em;

    > div {
        padding-bottom: 0.2em;

        > span:first-child {
            margin-right: 0.2em;
            user-select: none;
        }
    }
}

.mock-grid-cell:has(.mock-spirit-scaling) .mock-grid-cell-contents {
    border: 0.1rem solid #5a3875;
    background: radial-gradient(transparent 20%, rgb(88 56 117 / 70%) 100%);
}
