.mock-spirit-scaling {
    z-index: 5;
    align-self: flex-end;
    line-height: 120%;
    height: 0;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 1.35rem;
        width: 2rem;
        left: -1.3rem;
        background-image: url("/deadmock/icon/spirit_scaling.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* spirit scaling icon has wonky aspect ratio */
.mock-spirit-scaling .mock-icon {
}

.mock-spirit-scaling .mock-spirit-scaling-box {
    background-color: #65358a;
    height: 0.7lh;
    padding: 0.2rem 0.3rem 0.3rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: no-wrap;
    color: #cdcdcd;
    font-size: 0.75rem;
    font-weight: 600;
    font-style: italic;

    > div > span:first-child {
        margin-right: 0.2em;
        user-select: none;
    }
}

.mock-spirit-scaling + * .mock-grid-cell {
    border: 0.1rem solid #5a3875;
}

div:has(> .mock-spirit-scaling) {
    background: radial-gradient(transparent 20%, rgb(88 56 117 / 70%) 100%) !important; /* TODO: add another div for stacking backgrounds? */
}
