.mock-ability {
    width: 30rem;

    .mock-ability-header {
        background-color: #121212;
        padding: 1.2rem;
        display: flex;
        line-height: 1;

        .mock-icon {
            line-height: 0.8rem;
        }

        .mock-ability-header-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .mock-ability-header-misc-stats {
                display: flex;
                flex-wrap: wrap;

                > * {
                    margin-top: 0.3rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .mock-ability-header-right {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-between;

            > div:not(:first-child) {
                margin-top: 0.5rem;
            }
        }


        .mock-ability-header-title {
            font-size: 1.6rem;
            font-weight: 700;
            flex-basis: 50%;
        }

        .mock-ability-stat-group {
            display: flex;

            *:nth-child(2n) .mock-ability-stat {
                background-color: #242424;
            }
        }

        .mock-ability-stat {
            display: flex;
            align-items: center;
            background-color: #2c2c2c;
            width: fit-content;
            padding: 0.3rem 0.5rem;
            font-size: 0.9rem;

            .mock-icon {
                font-size: 1.15rem;
            }

            .mock-editable-text {
                margin-left: 0.3em;
            }
        }
    }

    .mock-ability-body-background {
        background: radial-gradient(circle 900px at 75% 140px, #3b3b3b 20%, #121212);
        position: relative;
        color: #d7cab7;

        .mock-ability-body-noise {
            position: absolute;
            background: radial-gradient(circle 750px at 75% 140px, #3b3b3b 15%, #000);
            mask-image: url("/deadmock/noise.png");
            width: 100%;
            height: 100%;
        }

        .mock-ability-body {
            position: relative;
            font-size: 0.96rem;
            padding-top: 0.9rem;

            > *:not(:first-child) {
                margin-top: 0.9rem;
            }

            .mock-ability-markdown {
                line-height: 135%;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }

            .mock-grid {
                line-height: 135%;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                font-size: 0.8rem;

                div:has(> .mock-spirit-scaling) .mock-grid-cell {
                    padding: 0.9rem 0.1rem;
                }

                .mock-grid-cell {
                    background: rgb(24 24 24 / 50%);
                    padding: 1rem 0.2rem;

                    .mock-grid-cell-value {
                        font-size: 1.15rem;
                    }
                }

                .mock-grid-cell.mock-grid-cell-values {
                    padding: 0.5rem 0.3rem 0.5rem 0.8rem;
                    font-size: 0.8rem;
                    font-weight: 500;

                    .mock-grid-cell-values-value {
                        font-size: 0.9rem;
                        margin-right: 0.6rem;

                        .mock-icon {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    .mock-ability-upgrades {
        padding: 1.3rem;
        display: flex;
        background: rgb(16 16 16 / 15%);

        .mock-ability-upgrade {
            flex-basis: 50%;
            flex-grow: 1;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            border-radius: 0.3rem;

            &:not(:first-child) {
                margin-left: 0.5rem;
            }
        }

        .mock-ability-upgrade.mock-ability-upgrade-inactive {
            border: 0.1rem solid rgb(16 16 16 / 25%);
        }

        .mock-ability-upgrade-inactive {
            .mock-ability-upgrade-cost {
                background: rgb(24 24 24 / 30%);
            }

            .mock-ability-upgrade-text {
                background: rgb(48 48 48 / 40%);
            }
        }

        .mock-ability-upgrade-cost {
            padding: 0.2rem;
            background: #11140e;
            border-radius: 0.2rem 0.2rem 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.05rem;

            .mock-icon {
                font-size: 0.9rem;
            }

            > *:last-child {
                margin-left: 0.3em;
            }
        }

        .mock-ability-upgrade-text {
            padding: 1rem 0.5rem;
            background: #8b56b4;
            border-radius: 0 0 0.2rem 0.2rem;
            flex-grow: 1;
            min-height: 5.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.9rem;
            line-height: 145%;

            .mock-text-bold {
                font-size: 1.2rem;
            }
        }
    }

    .mock-text-color-muted {
        color: #9c9c9c;
    }
}
