.mock-ability {
    width: 30rem;

    .mock-ability-upgrades-animated {
        background-color: rgb(16 16 16 / 15%);
    }

    .mock-ability-header {
        padding: 1.2rem;
        display: flex;
        line-height: 1;

        .mock-ability-header-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 0;

            .mock-ability-header-misc-stats {
                display: flex;
                flex-wrap: wrap;

                > * {
                    margin-top: 0.3rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .mock-ability-header-right {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: flex-end;

            > div:not(:first-child) {
                margin-top: 0.5rem;
            }
        }


        .mock-ability-header-title {
            font-family: ValveOccult;
            font-size: 1.9rem;
            font-weight: 700;
            flex-basis: 50%;
            overflow-wrap: anywhere;
            padding-right: 0.5rem;
        }

        .mock-ability-stat {
            font-family: ValveOccult;
            display: flex;
            align-items: center;
            background-color: rgb(44 44 44 / 60%);
            width: fit-content;
            padding: 0.3rem 0.5rem;
            font-size: 0.9rem;

            .mock-icon {
                font-size: 1.15rem;
            }

            .mock-editable-text {
                margin-left: 0.3em;
            }
        }

        .mock-ability-stat-group {
            display: flex;

            *:nth-child(2n) .mock-ability-stat {
                background-color: #242424;
            }
        }
    }

    .mock-ability-body-background {
        background: radial-gradient(circle 70rem at 55% 10rem, #151218 20%, #71407b);
        position: relative;
        z-index: 2;

        .mock-ability-body-noise {
            position: absolute;
            z-index: -1;
            background: radial-gradient(circle 25rem at 55% 10rem, #151218 15%, #5e2a68);
            mask-image: url("/deadmock/noise.png");
            width: 100%;
            height: 100%;
        }
    }

    .mock-ability-body {
        color: #d7cab7;
        position: relative;
        font-size: 0.96rem;
        font-weight: 500;

        .mock-details {
            padding: 0.9rem 0;

            .mock-editable-markdown, .mock-grid {
                .mock-text {
                    padding-bottom: 0;
                }
            }
        }

        .mock-editable-markdown {
            line-height: 135%;
            min-width: 5rem;
        }

        .mock-grid {
            line-height: 135%;
            font-size: 0.8rem;

            .mock-grid-cell, .mock-grid-values-cell {
                background-color: rgb(24 24 24 / 50%);
            }

            .mock-grid-cell-contents {
                min-height: 3.3rem;
                padding: 0.6rem 0.2rem;

                .mock-grid-cell-value {
                    font-family: ValveOccult;
                    font-size: 1.3rem;
                }

                .mock-icon {
                    opacity: 0.8;
                }
            }

            .mock-grid-cell:has(.mock-spirit-scaling), .mock-grid-cell:has(.mock-melee-scaling), .mock-grid-cell:has(.mock-boon-scaling) {
                .mock-grid-cell-contents {
                    padding: 0.5rem 0.1rem;
                }
            }

            .mock-grid-values-cell {
                padding: 0.5rem 0.3rem 0.5rem 0.8rem;
                font-size: 0.8rem;
                font-weight: 500;

                .mock-grid-values-cell-value {
                    font-family: ValveOccult;
                    font-size: 0.9rem;
                    margin-right: 0.6rem;

                    .mock-icon {
                        opacity: 0.8;
                        font-size: 1.1rem;
                    }
                }

                .mock-text {
                    padding-bottom: 0.2rem;
                }
            }
        }
    }

    .mock-ability-upgrades {
        padding: 1.3rem 1rem;
        display: flex;

        .mock-ability-upgrade {
            flex-basis: 50%;
            flex-grow: 1;
            align-self: stretch;
            display: flex;
            flex-direction: column;

            &:not(:first-child) {
                margin-left: 0.5rem;
            }

            &.mock-ability-upgrade-inactive {
                .mock-ability-upgrade-cost {
                    border: 0.1rem solid rgb(32 32 32 / 50%);
                    border-radius: 0.3rem 0.3rem 0 0;
                    border-bottom: none;
                    background-color: rgb(40 40 40 / 50%);
                }

                .mock-ability-upgrade-text {
                    border: 0.1rem solid rgb(20 20 20 / 50%);
                    border-radius: 0 0 0.3rem 0.3rem;
                    border-top: none;
                    background-color: rgb(64 64 64 / 50%);
                }
            }
        }

        .mock-ability-upgrade-cost {
            padding: 0.2rem;
            background-color: #11140e;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.05rem;

            .mock-icon {
                font-size: 0.9rem;
            }

            > *:last-child {
                margin-left: 0.3em;
            }
        }

        .mock-ability-upgrade-text {
            padding: 1rem 0.5rem;
            background-color: #8b56b4;
            flex-grow: 1;
            min-height: 5.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 145%;
        }

        .mock-ability-upgrade-value .mock-text-bold {
            font-size: 1.2rem;
        }
    }

    .mock-text-color-muted {
        color: #9c9c9c;
    }
}
