.mock-icon-picker {
    background: #222;
    border: 0.1rem solid #999;
    padding: 0.2rem;
    white-space: nowrap;
    font-size: 1.2rem;
}

.mock-icon-picker-button {
    cursor: pointer;
    display: inline-block;
    margin: 0.1rem;

    &:hover {
        border: 0.1rem solid orange;
        margin: 0;
    }
}
