.mock-icon {
    height: 1em;
    width: 1em;
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.mock-icon-clickable {
    cursor: pointer;
}

.mock-icon-large {
    font-size: 1.3em;
}

/* Filters calculated using:
 * https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters/
 */

/* some UI icons */
.mock-icon-white {
    background-color: #ffffff;
}

/* ability tooltip icons */
.mock-icon-grey {
    background-color: #999999;
}

/* weapon */
.mock-icon-orange {
    background-color: #ec981a;
}

/* vitality */
.mock-icon-green {
    background-color: #7cbb1e;
}

/* spirit */
.mock-icon-purple {
    background-color: #ce91ff;
}

/* healing */
.mock-icon-aqua {
    background-color: #00ff9a;
}

/* damage amp (TODO: double-check the rgb value) */
.mock-icon-red {
    background-color: #ff410d;
}

/* stun (TODO: double-check the rgb value) */
.mock-icon-yellow {
    background-color: #f3c733;
}

/* souls */
.mock-icon-cyan {
    background-color: #9affd6;
}

/* plus */
.mock-icon-bright-green {
    background-color: #3ed830;
}

/* Vitality Item */
.mock-icon-item-vitality {
    background-color: #424845;
}

/* Spirit Item */
.mock-icon-item-spirit {
    background-color: #583b6f;
}

/* Weapon Item */
.mock-icon-item-weapon {
    background-color: #5e3e09;
}
