.mock-sidebar-button {
    cursor: pointer;
    user-select: none;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.05rem 0.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #707070;
    border: 0.1rem solid #222;
    border-radius: 0.2rem;
    line-height: 1;
    width: min-content;
    font-size: 0.65rem;
    font-family: Roboto, sans-serif;
    font-variant: all-petite-caps;
    color: #ffefd7;

    &:not(:first-child) {
        margin-top: 0.3rem;
    }

    &:hover {
        background: #669;
        border: 0.1rem solid #88a;
    }

    .mock-icon {
        margin-left: 0.2rem;
        font-size: 0.6rem;
    }
}
