.mock-deleteable {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;

    .mock-delete-button {
        font-size: 0.7rem;
        visibility: hidden;
        margin-left: 0.4em;
        filter: drop-shadow(0 0 0.1rem rgb(0 0 0 / 70%));

        &.mock-delete-button-overlap {
            position: absolute;
            width: 0;
            margin-left: 0;
            right: 0.35rem;
            z-index: 5;
        }
    }

    &:hover {
        .mock-delete-button {
            visibility: visible;
        }
    }
}
