.mock-editable-text {
    display: inline-block;
    resize: none;
    cursor: pointer;
    min-width: 1em;
    min-height: 1lh;
}

.mock-editable-markdown {
    display: block;
    resize: none;
    cursor: pointer;
    min-height: 1lh;
}

[contenteditable] {
    outline: 0 solid transparent;
}

[contenteditable]:focus {
    background: rgba(255, 0, 0, 0.4);
}


