.mock-item-picker {
    background: #222222;
    border: 0.1rem solid #999999;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    font-size: 1.2rem; 

    .mock-item-picker-icon-vitality {
        background-color: var(--mock-green);
    }

    .mock-item-picker-icon-spirit {
        background-color: var(--mock-purple);
    }

    .mock-item-picker-icon-weapon {
        background-color: var(--mock-orange);
    }

    .mock-item-picker-tier {

        > * {
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
            margin: 0.1rem;

            &:hover {
                border: 0.1rem solid orange;
                margin: 0;
            }
        }
    }

    .mock-item-picker-weapon-group {
        display: flex;
        flex-direction: column;
    }

    .mock-item-picker-vitality-group {
        display: flex;
        flex-direction: column;
    }

    .mock-item-picker-spirit-group {
        display: flex;
        flex-direction: column;
    }
}
