.mock-tooltip-container {
    cursor: pointer;
    position: relative;

    .mock-tooltip {
        cursor: auto;
        max-width: 13rem;
        position: absolute;
        z-index: 10;
        text-align: start;

        &.mock-tooltip-up {
            bottom: 75%;

            &::after {
                display: block;
                width: 0;
                height: 0;
                border-width: 0.5rem;
                border-color: #999999 transparent transparent transparent;
                border-style: solid;
                content: "";
            }
        }

        &.mock-tooltip-down {
            &::before {
                display: block;
                width: 0;
                height: 0;
                border-width: 0.5rem;
                border-color: transparent transparent #999999 transparent;
                border-style: solid;
                content: "";
            }
        }
    }
}
