.mock-grid {
    padding: 15px 0px 5px 0px;
}

.mock-grid-row {
    display: flex;
    justify-content: stretch;
    margin-top: 3px;
}

.mock-grid-row:first-child {
    > *:first-child .mock-grid-cell, > *:first-child {
        border-top-left-radius: 0.5em
    }

    > *:last-child .mock-grid-cell, > *:last-child {
        border-top-right-radius: 0.5em
    }
}

.mock-grid-row:last-child {
    > *:first-child .mock-grid-cell, > *:first-child {
        border-bottom-left-radius: 0.5em
    }

    > *:last-child .mock-grid-cell, > *:last-child {
        border-bottom-right-radius: 0.5em
    }
}


.mock-grid-row > * {
    flex-basis: 0;
    flex-grow: 1;
}

.mock-grid-row > *:not(:first-child) {
    margin-left: 0.2em;
    margin-top: 0;
}

.mock-grid-row > div:has(.mock-spirit-scaling) {
    display: flex;
    flex-direction: column;
}

.mock-grid-cell-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .mock-grid-cell-hover-buttons {
        height: 0;
        z-index: 1;
        visibility: hidden;
        line-height: 1;

        > * {
            margin-top: 3px;
            margin-left: 3px;
        }

        .mock-tooltip {
            visibility: visible;
        }
    }

    &:hover .mock-grid-cell-hover-buttons {
        visibility: visible;
    }

    .mock-grid-cell-hover-buttons > * {
        display: inline-block;
    }
}

.mock-grid-cell {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.mock-grid-cell-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mock-grid-cell-container:nth-child(2) .mock-grid-cell-values {
    flex-direction: column;
    flex-wrap: nowrap;

    .mock-grid-cell-values-item:not(:first-child) {
        margin-top: 0.2em;
    }
}

.mock-grid-cell-container:not(:nth-child(2)) .mock-grid-cell-values {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1em;
    padding-bottom: 1em;

    .mock-grid-cell-values-item:nth-child(n+3) {
        margin-top: 0.5em;
    }
}

.mock-grid-cell-values-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 50%;

    .mock-grid-cell-values-item-delete {
        margin-left: 5px;
        visibility: hidden;
    }

    &:hover .mock-grid-cell-values-item-delete {
        visibility: visible;
    }
}
