.mock-icon {
    height: 1.2lh;
    width: 1.2lh;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mock-icon.mock-icon-small {
    height: 0.9lh;
    width: 0.9lh;
}


/* Filters calculated using:
 * https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters/
 */

/* approximation of #999999 */
.mock-icon.mock-icon-grey {
    filter: invert(40%);
}

/* approximation of #dd9642 (#de9742) */
.mock-icon.mock-icon-orange {
    filter: invert(39%) sepia(81%) saturate(363%) hue-rotate(351deg) brightness(90%) contrast(92%);
}

/* only used for the healing icon? */
/* approximation of #00ff9a */
.mock-icon.mock-icon-green {
    filter: invert(73%) sepia(89%) saturate(767%) hue-rotate(92deg) brightness(100%) contrast(103%);
}

/* approximation of #ce91ff (#cd92ff) */
.mock-icon.mock-icon-purple {
    filter: invert(52%) sepia(92%) saturate(528%) hue-rotate(217deg) brightness(108%) contrast(101%);
}
