.mock-item {
    font-style: normal;
    font-size: 20px;
    color: #feeed2;
    width: 450px
}

.spirit .mock-header {
    background-color: #8b56b4;
}

.spirit .item-bonus-value {
    background-color: #704491;
}

.spirit .item-bonus-stat {
    background-color: #5c3778;
}

.spirit .mock-components, .spirit .mock-active-header {
    background-color: #3b2250; 
}

.spirit .mock-components-badge {
    background-color: #2a1938;
}

.spirit .mock-stats, .spirit .mock-active {
    background-color: #623585;
}

.spirit .mock-grid .mock-grid-cell {
    background-color: #4d2869;
}

.weapon .mock-header {
    background-color: #c87a02;
}

.weapon .item-bonus-value {
    background-color: #a26102;
}

.weapon .item-bonus-stat {
    background-color: #885102;
}

.weapon .mock-components, .weapon .mock-active-header {
    background-color: #583b0e; 
}

.weapon .mock-components-badge {
}

.weapon .mock-stats, .weapon .mock-active {
    background-color: #7d530f;
}

.weapon .mock-grid .mock-grid-cell {
    background-color: #674308;
}

.vitality .mock-header {
    background-color: #659818;
}

.vitality .item-bonus-value {
    background-color: #507a11;
}

.vitality .item-bonus-stat {
    background-color: #41650c;
}

.vitality .mock-components, .vitality .mock-active-header {
    background-color: #2f4510; 
}

.weapon .mock-components-badge {
}

.vitality .mock-stats, .vitality .mock-active {
    background-color: #4d7214;
}

.vitality .mock-grid .mock-grid-cell {
    background-color: #3c590e;
}

.mock-item > div:first-child {
    border-radius: 10px 10px 0 0;
}

.mock-item > div:last-child {
    border-radius: 0 0 10px 10px;
}

.mock-header {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.mock-header > div:first-child {
    align-content: center;
    margin: 15px;
}

.mock-header > div:last-child {
    margin: 20px;
}

.mock-header .item-name {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px 1px 4px #00000094;
    padding: 5px;
}

.mock-header .item-cost {
    color: #9affd6;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.mock-header .item-bonus-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 3px;
}

.mock-header .item-bonus-value .mock-icon {
    margin-left: 5px;
}

.mock-header .item-bonus-stat {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding: 0 10px;
    font-weight: 300;
    color: #e8d7c9;
}

.mock-components {
    font-size: 12px;
    padding: 1px 15px 5px 15px;
}

.mock-components-badge {
    font-size: 14px;
    display: flex;
    width: fit-content;
    border-radius: 100px;
    margin-top: 5px;
}

.mock-components-badge .mock-icon {
    border-radius: 100px;
    background-size: 90%;
    background-position: center;
}

.mock-components-badge.mock-components-badge-green .mock-icon {
    background-color: #7cbb1e;
}

.mock-components-badge.mock-components-badge-purple .mock-icon {
    background-color: #ce91ff;
}

.mock-components-badge.mock-components-badge-orange .mock-icon {
    background-color: #dd9642;
}

.mock-components-badge .mock-components-badge-name {
    padding: 0 15px 0 5px;
    align-content: center;
}

.mock-stats {
    font-size: 15px;
    padding: 6px;
}

.mock-stats > div {
    padding: 5px 15px;
}

.mock-active-header {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mock-active-header > div {
    padding: 3px 15px;
    display: flex;
    align-items: center;
}

.mock-active-header > div:last-child {
    /*padding: 3px 15px;*/
    background-color: #0c1414;
}

.mock-active-header .mock-icon {
    margin-right: 5px;
}

.mock-active-description {
    padding: 6px 15px;
    font-size: 17px;
}

.mock-passive {
}

.mock-passive-header {
}
