
.mock-item {
    font-style: normal;
    font-size: 20px;
    color: #feeed2;
    width: 450px;
    flex-shrink: 0;
    flex-grow: 0;

    > div:first-child {
        border-radius: 10px 10px 0 0;
    }

    > div:last-child {
        border-radius: 0 0 10px 10px;
    }

    .mock-header {
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .mock-header > div:first-child {
        align-content: center;
        margin: 15px;
    }

    .mock-header > div:last-child {
        margin: 20px;
    }

    .mock-header .item-name {
        font-size: 30px;
        font-weight: 700;
        text-shadow: 1px 1px 4px #00000094;
        padding: 5px;
    }

    .mock-header .item-cost {
        color: #9affd6;
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
        display: flex;
        align-items: center;
        user-select: none;
    }

    .mock-header .item-bonus-value {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        user-select: none;
    }

    .mock-header .item-bonus-value .mock-icon {
        margin-left: 5px;
    }

    .mock-header .item-bonus-stat {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding: 0 10px;
        font-weight: 300;
        color: #e8d7c9;
        user-select: none;
    }

    .mock-components {
        font-size: 12px;
        padding: 1px 15px 5px 15px;
        user-select: none;

        .mock-item-component {
            display: flex;
            align-items: center;

            &:not(:first-child) {
                margin-top: 5px;
            }

            .mock-item-component-badge {
                font-size: 14px;
                display: flex;
                width: fit-content;
                border-radius: 100px;

                .mock-item-component-badge-icon {
                    border-radius: 100px;
                    height: 1.2lh;

                    &.mock-item-component-badge-vitality {
                        background-color: var(--mock-green);

                        /* #203500 */
                        .mock-icon {
                            filter: invert(83%) sepia(14%) saturate(4628%) hue-rotate(49deg) brightness(95%) contrast(102%); /* #223500 */
                        }

                    }

                    &.mock-item-component-badge-spirit {
                        background-color: var(--mock-purple);

                        /* #372248 */
                        .mock-icon {
                            filter: invert(87%) sepia(19%) saturate(2242%) hue-rotate(232deg) brightness(92%) contrast(91%); /* 362248 */
                        }
                    }

                    &.mock-item-component-badge-weapon {
                        background-color: var(--mock-orange);

                        /* #312406 */
                        .mock-icon {
                            filter: invert(86%) sepia(68%) saturate(476%) hue-rotate(4deg) brightness(92%) contrast(101%); /* #322206 */
                        }
                    }

                    .mock-icon {
                        background-size: 70% !important;
                        border-radius: 100px;
                    }
                }

                .mock-item-component-badge-name {
                    padding: 0 15px 0 10px;
                    align-content: center;
                }
            }

            .mock-item-component-hover-buttons {
                display: flex;
                align-items: center;
                visibility: hidden;

                > * {
                    margin-left: 5px;
                }
            }

            &:hover .mock-item-component-hover-buttons {
                visibility: visible;
            }
        }
    }


    .mock-stats {
        font-size: 15px;
        padding: 6px;
        line-height: 120%;

        > div {
            padding: 3px 15px 3px 15px;
            display: flex;
            align-items: center;
            line-height: 1;

            .mock-item-stat-hover-buttons {
                visibility: hidden;
                display: inline-block;
                margin-left: 10px;
            }

            &:hover {
                .mock-item-stat-hover-buttons {
                    visibility: visible;
                }
            }
        }
    }

    .mock-item-effect-header {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > * {
            padding: 3px 15px;
            display: flex;
            align-items: center;
        }

        > div:last-child {
            /*padding: 3px 15px;*/
            background-color: #0c1414;
        }
    }

    .mock-item-effect-body {
        padding: 5px 0;
        font-size: 17px;

        .mock-grid, .mock-item-effect-markdown {
            padding: 0 15px;

            &:not(:first-child) {
                margin-top: 10px;
            }
        }
    }

    .mock-grid-cell-values span:last-child {
        color: #c8c6ca;
        font-weight: 600;
    }

    .mock-grid-cell {
        padding: 5px 5px;
        line-height: 120%;
    }

    .mock-grid-cell.mock-grid-cell-values {
        padding: 10px 15px;
    }

    .mock-grid-cell-values .mock-icon {
        display: none;
    }

    .mock-grid-cell-values .mock-grid-cell-values-item-delete .mock-icon {
        display: inherit;
    }

    &.mock-item-spirit {
        .mock-header {
            background-color: #8b56b4;
        }

        .item-bonus-value {
            background-color: #704491;
        }

        .item-bonus-stat {
            background-color: #5c3778;
        }

        .mock-components, .mock-item-effect-header {
            background-color: #3b2250;
        }

        .mock-item-component-badge {
            background-color: #2a1938;
        }

        .mock-stats, .mock-item-effect {
            background-color: #623585;
        }

        .mock-grid .mock-grid-cell {
            background-color: #4d2869;
        }
    }

    &.mock-item-weapon {
        .mock-header {
            background-color: #c87a02;
        }

        .item-bonus-value {
            background-color: #a26102;
        }

        .item-bonus-stat {
            background-color: #885102;
        }

        .mock-components, .mock-item-effect-header {
            background-color: #583b0e;
        }

        .mock-item-component-badge {
            /* TODO */
        }

        .mock-stats, .mock-item-effect {
            background-color: #7d530f;
        }

        .mock-grid .mock-grid-cell {
            background-color: #674308;
        }
    }

    &.mock-item-vitality {
        .mock-header {
            background-color: #659818;
        }

        .item-bonus-value {
            background-color: #507a11;
        }

        .item-bonus-stat {
            background-color: #41650c;
        }

        .mock-components, .mock-item-effect-header {
            background-color: #2f4510;
        }

        .mock-item-component-badge {
            /* TODO */
        }

        .mock-stats, .mock-item-effect {
            background-color: #4d7214;
        }

        .mock-grid .mock-grid-cell {
            background-color: #3c590e;
        }
    }
}
