@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-mediumitalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-semibolditalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Deadlock";
    src: url("/font/retaildemo-bolditalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

:root {
    font-family: "Deadlock", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
	line-height: 120%;
	font-weight: 400;

    color: #ffefd7;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

    --mock-green: #7cbb1e;
    --mock-purple: #ce91ff;
    --mock-orange: #dd9642;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
    justify-content: center;
	min-height: 100vh;
}
