@font-face {
    font-family: Radiance;
    src: url("/deadmock/font/Radiance-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Radiance;
    src: url("/deadmock/font/Radiance-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Radiance;
    src: url("/deadmock/font/Radiance-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Radiance;
    src: url("/deadmock/font/Radiance-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: ValveOccult;
    src: url("/deadmock/font/ValveOccult-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: ValvePulp;
    src: url("/deadmock/font/ValvePulp-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Reaver;
    src: url("/deadmock/font/Reaver-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Reaver;
    src: url("/deadmock/font/Reaver-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-mediumitalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-semibolditalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Deadlock;
    src: url("/deadmock/font/retaildemo-bolditalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Forevs;
    src: url("/deadmock/font/forevsdemo-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-thin-italic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-light-italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-regular-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-medium-italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-bold-italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("/deadmock/font/roboto/roboto-black-italic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

:root {
    font-family: Deadlock, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: #ffefd7;
    background-color: #fff;
    font-synthesis: small-caps;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (width <= 700px) {
    :root:has(.mock-item) {
        font-size: calc(100vw / 35);
    }
    :root:has(.mock-ability) {
        font-size: calc(100vw / 42);
    }
}

@media (width <= 1000px) {
    :root:has(.mock-ability) {
        font-size: calc(100vw / 52);
    }
}

body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    &:has(dialog[open]) {
        overflow: hidden;
        padding-right: var(--scrollbar-width);
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 17rem; /* safety margin so tooltips don't change the page height */

    #app {
        z-index: 3;
    }
}

div, span {
    transition:
      background-color 0.15s,
      color 0.15s;
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #3d322e;
    background-image: url("/deadmock/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.3rem) saturate(60%) contrast(80%);
    transform: scale(1.1);

    @media (aspect-ratio >= 16/9) {
        background-size: 100% auto;
    }

    @media (aspect-ratio < 16/9) {
        background-size: auto 100%;
    }
}

.github-link {
    background-image: url("/deadmock/github-mark-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
    position: fixed;
    top: calc(100% - 3.5rem);
    margin: 0.5rem;

    &:hover {
        filter: invert(30%) sepia(100%) saturate(300%) hue-rotate(339deg) brightness(95%);
    }
}
